<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UaApplicationConfiguration" type="UnifiedAutomation.UaBase.ApplicationConfigurationSection,UnifiedAutomation.UaBase"/>
  </configSections>
  <UaApplicationConfiguration>
    <SecuredApplication xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://opcfoundation.org/UA/2011/03/SecuredApplication.xsd">

      <!-- Identify the Application -->
      <ApplicationName>UnifiedAutomation BasicClient</ApplicationName>
      <ApplicationUri>urn:localhost:UnifiedAutomation:BasicClient</ApplicationUri>
      <ApplicationType>Client_1</ApplicationType>
      <ProductName>UnifiedAutomation BasicClient</ProductName>

      <!-- Specify location of Certificates and Trust Lists -->
      <ApplicationCertificate>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiclient\own</StorePath>
        <SubjectName>CN=BasicClient/O=UnifiedAutomation/DC=localhost</SubjectName>
        <ValidationOptions>0</ValidationOptions>
      </ApplicationCertificate>
      <TrustedCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiclient\trusted</StorePath>
        <ValidationOptions>0</ValidationOptions>
      </TrustedCertificateStore>
      <IssuerCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiclient\issuers</StorePath>
        <ValidationOptions>0</ValidationOptions>
      </IssuerCertificateStore>
      <RejectedCertificatesStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiclient\rejected</StorePath>
        <ValidationOptions>0</ValidationOptions>
      </RejectedCertificatesStore>

      <Extensions>

        <!-- Specify the Trace settings for the Application -->
        <Extension>
          <TraceSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd" MasterTraceEnabled="false" DefaultTraceLevel="Info">
            <TraceFile>%CommonApplicationData%\unifiedautomation\logs\UaSdkNetBundleEval\BasicClient.log.txt</TraceFile>
            <MaxEntriesPerLog>100000</MaxEntriesPerLog>
            <MaxLogFileBackups>3</MaxLogFileBackups>
            <FastTrace>false</FastTrace>
            <ModuleSettings>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Stack"/>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Client"/>
            </ModuleSettings>
          </TraceSettings>
        </Extension>

        <Extension>
          <ClientSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <ProductUri>urn:UnifiedAutomation:BasicClient</ProductUri>
          </ClientSettings>
        </Extension>

        <!-- Specify Settings when EXE is run with the /install argument -->
        <Extension>
          <InstallationSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <GenerateCertificateIfNone>true</GenerateCertificateIfNone>
            <!-- Supported values are 1024, 2048, 3072 and 4096. Default is 2048. -->
            <CertificateKeyLength>2048</CertificateKeyLength>
            <!-- Possible values are sha1 and sha256. Default is sha256. -->
            <CertificateHashAlgorithm>sha256</CertificateHashAlgorithm>
            <DeleteCertificateOnUninstall>true</DeleteCertificateOnUninstall>
          </InstallationSettings>
        </Extension>

      </Extensions>

    </SecuredApplication>
  </UaApplicationConfiguration>
</configuration>
